<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DarkSky Weather API</title>
    <script src="https://use.fontawesome.com/ba855b9686.js"></script>
    <script src="script.js"></script>
    <script src="skycons.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Skycon weather icon -->
    <canvas id="icon1" width="128" height="128"></canvas>
    <!-- Loading/Weather Data-->
    <h1 id="output">
	    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
	    <span class="sr-only"></span>
    </h1>
    <h3 id="date"></h3>
    <!-- Location Data -->
    <h2 id="location"></h2>
    <!-- <button id="convert">Convert</button> -->
    <a href="https://darksky.net/poweredby/" target="_blank">
    	<img src="poweredby-oneline.png" alt="Powered by Dark Sky" style="width: 335px; height: 75px;"> 
    </a>
</body>

</html>